<nav id="nav" class="navbar bg-primary">
    <a class="navbar-brand" href="/">
        <img class="image" src="/images/logo.svg" />
    </a>
    <a class="nav-link" style="color: #f0f0f0;" href="/toask">
        Ask Questions
    </a>

</nav>